<div class="concept-visual">
  <div>
    <p class="concept-text">公式ホームページをご覧頂き有難うございます。<br>
      JR蘇我駅から徒歩5分、地産地消をテーマに地元食材を使用した創作料理をご提<br>
      供致します。<br>
      『食事』を単に栄養を取るためのものでなく、人生の大きな『楽しみ』と捉え、<br>
      また、人と人とのコミニケーションの場でもあり、<br>
      文化を感じるものであります。<br>
      Nishimurayaは食事をする事で皆様の『こころ』と『からだ』を満たせるような<br>
      お店を目指して参ります。
    </p>
  </div>
  <%= render 'news', news: @news%>
